body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Todo-List-Background.jpg');
    background-position: 50%;
}
.todo-body{
    background-color: #cff1fa;
    width: 100%;
    max-width: 560px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0 , 0, 0.4);
    padding: 5px;
}
h1{
    color: rgb(13, 144, 4);
    text-transform: uppercase;
    font-weight: 700;
    font-family: cursive;
}
h1 span{
    color: #0781fa;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(13, 144, 4);
}
.task, .due-date, .add-btn {
    border-radius: 4px;
    border: none;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 8px;
}
.task {
    padding: 8px;
    width: 200px;;
}
.due-date {
    padding: 7px;
    width: 150px;
    cursor: text;
}
.add-btn {
    padding: 8px;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #007bff, #0056b3);
    cursor: pointer;
    transition: all 0.5s ease;
}
.add-btn:hover{
    background:linear-gradient(135deg, #037d50,#008031);
    transform: translateX(-2px);
}


 .display {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.648);
    width: 475px;
    margin-left: 28px;
    padding: 12px;
    border-radius: 4px;
}

.task-display{
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 5px;
}

.date-display{
    display: flex;
    align-items: center;
    justify-content: center;

}

.delete-btn {
    color: white;
    background:linear-gradient(red, rgb(153, 46, 46));
    border: none;
    padding: 5px 2px;
    margin-left: 30px;
    width: 70px;
    font-weight: 545;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.delete-btn:hover{
    background:linear-gradient(rgb(249, 19, 19), rgb(247, 17, 17));
    transform: translateX(5px);
}


/*Footer*/
.footer {

    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #15aaaa95;
    color: #ffffff;
    font-size: 14px;
}
.footer a 
{
    text-decoration: none;
    color: #e1d206;
    font-weight: bold;
}
.footer a:hover 
{
    text-decoration: underline;
    color: #014f9d;
    font-weight: bold;
}
